.avatar {
  position: relative;
  align-self: center;

  .avatar-image {
    border-radius: 50%;
    object-fit: contain;
  }

  .upload-btn {
    cursor: pointer;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    right: 0px;
    bottom: 0px;

    svg {
      width: 40px;
      height: 40px;
      color: blue;
    }
  }
}

.display-avatar {
  align-self: center;

  img {
    border-radius: 50%;
    object-fit: contain;
  }
}